@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');




body{
    font-family: 'Poppins', sans-serif;
    /* background: #a9efc8; */
    background-image: url(./images/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: overlay;
    
}


.main-container{
    padding-top: 5rem;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    color: #000;
}

.navbar-brand:hover {
    color: #000; /* Change hover color as needed */
    text-decoration: none;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px){


    .box-area{
        margin: 4rem;
        width: 95%; /* Adjust width for smaller screens */
        max-width: 400px; /* Set a maximum width */
        margin: 2rem auto; /* Center the box */

     }
 
     .right-box{
        padding: 20px;
     }

 
    /* Ensure image is responsive */
    .featured-image {
        /* width: 100%; */
        /* height: auto; */
        text-align: center; /* Center the image horizontally */
    }

    .featured-image img {
       height: 9.5rem;
       width: 14rem;
      
    }

}






 /* body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f4;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .login-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin-bottom: 20px;
        }

        .login-container h2 {
            text-align: center;
            color: #333;
        }

        .login-form {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            margin-bottom: 5px;
            color: #333; 
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form-group button {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            margin-top: 10px;
            cursor: pointer;
            background-color: #23D375FF;
            border-color: #23D375FF;
            border-radius: 5px;
            transition: box-shadow 0.3s;
            color: black;
        }
        .form-group button:hover{
            background-color: white;
            border-color: white;
            color:#23D375FF;
        }

        .error-message {
            color: red;
            text-align: center;
            margin-top: 10px;
        }
